<!DOCTYPE html>
<html>
<head>
    <title><%= name %>的个人主页</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= name %></h1>
<p>我是用户<%= name %></p>
</body>
</html>
